*{
   text-align: center;
   max-width: 100%;
}

:root {
   --white: hsl(0, 0%, 100%)
   --light_gray: hsl(212, 45%, 89%)
   --grayish_blue: hsl(220, 15%, 55%)
   --dark_blue: hsl(218, 44%, 22%)
      
   --mobile-width: 375px;
   --desktop-width: 1440px;
   


}

.background-div {
  width: 1440px;
  padding: 200px;
  background: var(--light_gray);
  display: flex;
  justify-content: center;
  
  
}

.wrapper-div {
  width: 250px;
  height: 400px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin: 20px;
  background: var(--white);;
  
  
}

img {
  border-radius: 10px;
  width: 240px;
  display: block;
  max-width: 100%; 
  
}


p {
  font-size: 15px;
  font-weight: 400;
  color: var(--grayish_blue);
  font-family: 'Outfit', serif;
  
}

h3 {
  font-weight: 700;
  font-size: 20px;
  color: var(--dark_blue);
  font-family: 'Outfit', serif;
}
