*::before, *::after {
   box-sizing: border-box;
  
  
}

:root {
  --wrapper-white: #FFFFFF;
  --canvas-grey: hsl(212, 45%, 89%);
  --h3-color: hsl(218, 44%, 22%);
  --p-color: hsl(220, 15%, 55%); 
  
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-family: 'Outfit', serif; 
  background-color: var(--canvas-grey);
  
}

.wrapper {
  width: 15.62rem; /*250px based on root font-size of 16px*/
  max-width: 100%;
  height: 25rem; /*400px*/
  border-radius: 0.62rem; /*10px*/
  padding: 0.62rem;
  padding-top: 0.93rem; /*15px*/
  padding-bottom: 1.25rem; /*20px*/
  margin: 1.25rem;
  background-color: var(--wrapper-white);
  overflow: hidden;
 
}

img {
  max-width: 100%;
  border-radius: 0.62rem;
  width: 15rem; /*240px*/
  
}

h3 {
  font-weight: 700;
  font-size: 20px;
  color: var(--h3-color);
  
}


p {
  
  font-weight: 400;
  color: var(--p-color);
  
}
